{% extends "baseA.html" %}


{% block content %} 
{% load static %} 


<!--SECTION-->

<div class="container blok1">
                   
    <!--rij-->
    <div class="row ">
        <div class="col-1">
        </div>
        <div class="col-9">
          
            1What is Lorem Ipsum?
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          
         sum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 tr
        </div>
    </div>

    <!--rij GALERIJ -->
    <div class="row">  
        <div class="col-sm-2">
            <figure>
                <a href="Rembrandt.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="">" </a> <br>
                <figcaption>Rembrandtstraat</figcaption>
            </figure>
        </div>

        <div class="col-sm-2"> 
            <figure>
                <a href="Rembrandt.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                <figcaption>Rembrandtstraat</figcaption>
            </figure>
        </div>

        <div class="col-sm-2"> 
            <figure>
                <a href="VerhuurBK.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                <figcaption>Looyerstraat</figcaption>
            </figure>
        </div>

        <div class="col-sm-2"> 
            <figure>
                <a href="VerhuurBK.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                <figcaption>Looyerstraat</figcaption>
            </figure>
        </div>

        <div class="col-sm-2"> 
            <figure>
                <a href="VerhuurBK.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                <figcaption>Looyerstraat</figcaption>
            </figure>
        </div>

        <div class="col-sm-2"> 
            <figure>
                <a href="VerhuurBK.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                <figcaption>Looyerstraat</figcaption>
            </figure>
        </div>
    </div>


        <!--rij GALERIJ -->
        <div class="row">  
            <div class="col-sm-2">
                <figure>
                    <a href="Rembrandt.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="">" </a> <br>
                    <figcaption>Rembrandtstraat</figcaption>
                </figure>
            </div>

            <div class="col-sm-2"> 
                <figure>
                    <a href="Rembrandt.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                    <figcaption>Rembrandtstraat</figcaption>
                </figure>
            </div>

            <div class="col-sm-2"> 
                <figure>
                    <a href="VerhuurBK.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                    <figcaption>Looyerstraat</figcaption>
                </figure>
            </div>

            <div class="col-sm-2"> 
                <figure>
                    <a href="VerhuurBK.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                    <figcaption>Looyerstraat</figcaption>
                </figure>
            </div>

            <div class="col-sm-2"> 
                <figure>
                    <a href="VerhuurBK.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                    <figcaption>Looyerstraat</figcaption>
                </figure>
            </div>

            <div class="col-sm-2"> 
                <figure>
                    <a href="VerhuurBK.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                    <figcaption>Looyerstraat</figcaption>
                </figure>
            </div>
        </div>

    
    <!--rij GALERIJ -->
    <div class="row">  
        <div class="col-sm-2">
            <figure>
                <a href="Rembrandt.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="">" </a> <br>
                <figcaption>Rembrandtstraat</figcaption>
            </figure>
        </div>

        <div class="col-sm-2"> 
            <figure>
                <a href="Rembrandt.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                <figcaption>Rembrandtstraat</figcaption>
            </figure>
        </div>

        <div class="col-sm-2"> 
            <figure>
                <a href="VerhuurBK.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                <figcaption>Looyerstraat</figcaption>
            </figure>
        </div>

        <div class="col-sm-2"> 
            <figure>
                <a href="VerhuurBK.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                <figcaption>Looyerstraat</figcaption>
            </figure>
        </div>

        <div class="col-sm-2"> 
            <figure>
                <a href="VerhuurBK.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                <figcaption>Looyerstraat</figcaption>
            </figure>
        </div>

        <div class="col-sm-2"> 
            <figure>
                <a href="VerhuurBK.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                <figcaption>Looyerstraat</figcaption>
            </figure>
        </div>
    </div>

 

</div> <!--Einde Container-->
<!--SECTION-->



{% endblock content %}  
