{% extends "baseA.html" %}
{% load static %} 

{% block content %} 

          <!--SECTION-->

          <div class="container">

            <div class="row">  
              <div class="col-sm-4 LetA">

                <strong>Adres: </strong><br> <br>
                Brouwersgracht 2K, <br>
                2512 ER Den Haag <br>
                Stichtingbwe@gmail.com <br> <br> 

                <strong>  Telefoon: </strong><br> <br>
                06 14 18 70 96 <br> <br>
                    (reserveringen voor de Barthkapel <br> gaan uitsluitend via de mail) <br>
              </div>
              <div class="col-sm-8">      
                <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="Ateliers">
              </div>
            </div>

                   
          </div>

               <!--EINDE SECTION-->




{% endblock content %}  