
<!DOCTYPE html>
<html lang="nl">

    <head>
        <title> Stichting Behoud Waardevol Erfgoed</title>
        <meta charset = "utf-8">

        {% load static %}
        <!-- Style CSS-->
        <link rel="stylesheet" type="text/css" href="{%static 'css/cssHeader.css' %}">
        <link rel="stylesheet" type="text/css" href="{%static 'css/cssBody.css' %}">
        <link rel="stylesheet" type="text/css" href="{%static 'css/cssStyle.css' %}">

       
        <!-- Bootstrap-CSS -->
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
        crossorigin="anonymous">

        <!-- Beeldscherm: computer & telefoon -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body>
            <header class="boven">
            <!-- 1e  deel -->
             
                    <h1>Stichting Behoud Waardevol Erfgoed</h1>
                    <h5> Cultureel vastgoed</h5>
                    <h5 class="pagina"> Contact </h5>
               
                    <div>
                        <li class="H"> <a class="H" href="/Inhoud.html"> Menu  </a></li> 
                    </div>


                    <!-- schuine boven gedeelte-->
                    <!--<div id="blauwblok">  </div> -->

                    <!-- middenstuk-->
                    <div class ="contact">
                    <div>
                   
                        
                    </div>
                    </div>

      
          <!-- schuine onder gedeelte-->
          <div id="Onderblok"> </div>

            </header>


            <!--SECTION-->

            <div class="container blok1">

                <div class="row">  
                  <div class="col-4">

                    <strong>Adres: </strong><br> <br>
                    Brouwersgracht 2K, <br>
                    2512 ER Den Haag <br>
                    Stichtingbwe@gmail.com <br> <br> 

                    <strong>  Telefoon: </strong><br> <br>
                    06 14 18 70 96 <br>
                        (reserveringen voor de Barthkapel gaan uitsluitend via de mail) <br>
                  </div>
                  <div class="col-8">      
                    <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="Ateliers">
                  </div>
                </div>

                       
            



                <div class="row">
                  <div class="col">
                    1What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    
                    Why do we use it?
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                    
                    Where does it come from?
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 tr
                  </div>
                </div>

                <div class="row">
                    <div class="col">
                        <figure>
                            <a href="/VerhuurBK.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="Verhuur Barthkapel"> </a> <br>
                            <figcaption>Verhuur Barthkapel</figcaption>
                        </figure>
                    </div>
                    <div class="col">
                        <figure>
                            <a href="/Panden.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="panden"> </a> <br>
                            <figcaption>Panden</figcaption>
                        </figure>
                    </div>
                    <div class="col">
                        
                    <figure>
                        <a href="/Ateliers.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="Ateliers"> </a> <br>
                        <figcaption>Ateliers</figcaption>
                    </figure>
                    </div>
                  </div>
              </div>


            <!--SECTION-->

    <footer>
        <p> @ Copyright 2023 </p>
        <p> Stichting Behoud Waardevol Erfgoed </p>
    </footer>

        <!-- Javascript-->
        <script src="{%static 'js/jquery.js' %}"></script>
        <script src="{%static 'js/jquery.min.js' %}"></script>

       

</body>
</html>