

{% extends "base.html" %}
{% load static %} 

{% block content %} 
<head>
  <style>
    body{
      background-image: url("{% static 'img/Gebouw BK_middel.jpg' %}");
      background-repeat: no-repeat;
    }

  </style>
</head>


</div class="container-fluid"> <!--start container-->

<!-- FOTO -->

    <div class="row">  
        <div class="col-8">
            <button id="buttonBK">Barthkapel Verhuur</button> 
        </div>
        <div class="col-3 LetA">      
            Achter elke gevel gaat een verhaal schuil en die verhalen zijn de moeite van het
            vertellen waard.

        </div>
    </div>


<!-- FOTO: EINDE-->


    <div class="row">  
        <div class="col-1"></div>
        <div class="col-10 LetB Vl2">      
            <p>Waarborgen van oorspronkelijke stedelijke bebouwing in Den Haag en 
                het stimuleren van de diversiteit van het gebruik van die bebouwing. Dat 
                is waar Stichting Behoud Waardevol Erfgoed voor staat. 
            </p>
        </div>
        <div class="col-1"></div>
    </div>
          
</div> <!--Afsluiting container-->

 
       


{% endblock content %}  