

{% extends "base.html" %}


{% block content %} 

{% load static %} 


</div class="container-fluid"> <!--start container-->
<!-- FOTO -->
    <div class="row FOTO ">     <img src="{%static 'img/Gebouw BK_middel.jpg' %}" >
        <div class="col-8"></div>
        <div class="col-4 Vlak">
            Achter elke gevel gaat een verhaal schuil en die verhalen zijn de moeite van het
            vertellen waard.
    
            <button id="buttonBK">Barthkapel Verhuur</button> 
        </div>
    </div>

<!-- FOTO: EINDE-->


    <div class="row">  
    <div class="col-12">      
        <p>Waarborgen van oorspronkelijke stedelijke bebouwing in Den Haag en 
            het stimuleren van de diversiteit van het gebruik van die bebouwing. Dat 
            is waar Stichting Behoud Waardevol Erfgoed voor staat. 
        </p>
    </div>
 
          
</div> <!--Afsluiting container-->

<script> 

    $('#buttonBK').on('click', function URL(){
        location.href = "/VerhuurBK.html";

    });

</script>


{% endblock content %}  



