{% extends "baseA.html" %}
{% load static %} 

{% block content %} 
         <!--SECTION-->

         <div class="container">

            <!--Begin Row--><div class="row">  
                <div class="col-sm-4">
                    <H2 class ="font"> Paardenstal op de Lepelstraat</H2>
                    <br> <br> 

                    <p class ="font">
                    Weinig Hagenaars zullen dit kleine straatje kennen en aan de buitenkant is er ook niet veel bijzonders te zien. Maar achter de gevels wachten wel verrassingen. Wie zou in een dergelijk gewoon klein Haags straatje een paardenstal met een aantal paarden en een aantal diverse koetsjes verwachten?
                    <br><br>    
                    Daarnaast bevat het pand een aantal muziekstudio’s. Wanneer men op het juiste tijdstip het oor tegen de gevel aan legt hoor je de band “Hallo Venray” spelen. Deze band nam het initiatief tot deze studio’s en verzorgt met zijn stichting ‘Sahara’ de exploitatie.
                    <br><br>    
                    In het daarnaast gelegen pand bevinden zich een aantal ateliers en vooral de bovenste etage is adembenemend mooi. Enorme ruimtes met een glazen dak. We bevinden ons in een voormalige pianofabriek waar tegenwoordig de bekende Haagse kunstenares Ingrid Mollema haar atelier heeft.
                        
                        



                    </p>
                </div>

                <div class="col-sm-8">      
                    <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="Ateliers">
                </div>
            </div> <!--Einde row-->

                   
          </div>

               <!--EINDE SECTION-->


{% endblock content %}  