{% extends "baseA.html" %}
{% load static %} 

{% block content %} 
         <!--SECTION-->

         <div class="container">

            <!--Begin Row--><div class="row">  
                <div class="col-sm-4">
                    <H2 class ="font"> Looyerstraat - Pakhuis</H2>
                    <br> <br> 

                    <p class ="font">
                        Het pakhuis in de Looijerstraat werd in 1905 gebouwd voor de firma Joh. Blonk & Co, een machinale maalinrichting en groothandel in granen, meel, bloem en lijnkoeken. Het was een voor die tijd een enorm groot pakhuis waarvan een klein gedeelte fabrieksruimte was en de rest voor opslag. Rond 1920 kwam het pakhuis in het bezit van de gebroeders Dinkhuijsen, een voor Hagenaars bekende naam waar het ging om lompen en oude metalen.
                        <br><br>    
                        Na de tweede wereldoorlog gebuikte warenhuis de Bijenkorf het pakhuis als magazijn. Nadat de Bijenkorf het pand had verlaten raakte het pakhuis steeds meer in verval en de enige bewoners bestonder begin jaren negentig uit een autoclub en een bordeel.
                        <br><br>
                        In 1993 werd het pakhuis van de sloop gered doordat de Stichting Behoud Waardevol Erfgoed het van de gemeente kocht.
                        Momenteel is op de begane grond een architectenbureau gevestigd en de vier verdiepingen daarboven zijn kunstenaarsateliers.

                    </p>
                </div>

                <div class="col-sm-8">      
                    <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="Ateliers">
                </div>
            </div> <!--Einde row-->

                   
          </div>

               <!--EINDE SECTION-->


{% endblock content %}  