

{% extends "baseA.html" %}
{% load static %} 

{% block content %} 

          <!--SECTION-->

          <div class="container">

            <div class="row">  
              <div class="col-sm-4">
                <H2 class ="font"> Over SBWE </H2>
                <br> <br> 

                <p class ="font">
                  Stichting Behoud Waardevol Erfgoed werd opgericht in 1992 door Simon Kamper. Hij had voor ogen panden van de ‘ondergang’ te redden. Panden die gesloopt zouden worden waardoor de oorspronkelijke stedelijke bebouwing van het centrum van Den Haag in gevaar dreigde te komen. Het begon met de Barthkapel aan de Brouwersgracht en de oprichting van Emmaus aan de Prinsegracht. Daarna volgde het Flora’s Hof aan de Lange Beestenmarkt. 
                </br></br>
                  De stichting tracht haar doel te verwezenlijken door de aankoop, verbetering en beheer van woningen, atelierruimtes, kantoorruimtes en winkelpanden. Het uitgangspunt is de huurders te betrekken bij het onderhoud en eventuele renovatie van de panden die zij in gebruik hebben. 
                </br></br>
                  Het Den Haag zoals wij het nu kennen zou er anders hebben uitgezien zonder het werk van de Stichting Behoud Waardevol Erfgoed en de inzet van Simon Kamper in het bijzonder. Kijk bijvoorbeeld eens op de Prinsegracht naar het stuk tussen de Lange Beestenmarkt en de Brouwersgracht: een aaneengesloten rij historische panden met daarachter de Barthkapel en de bijbehorende kloostertuin. Een stuk erfgoed van groot historisch belang. En om de hoek de Lange Beestenmarkt: de hele gevelrij vanaf de Hamerstraat links tot de Lepelstraat rechts, inclusief het Flora’s hofje. Deze stadsgezichten zouden niet meer bestaan als de sloop en nieuwbouwplannen van de Gemeente Den Haag niet langdurig en vasthoudend gedwarsboomd zouden zijn.
                </br></br>
                  Op 4 oktober 2019 is Simon Kamper overleden. Hij was toen al enige jaren niet meer actief betrokken bij de stichting, maar volgde de stedelijke ontwikkeling in het oude centrum van Den Haag vol kritische belangstelling.
                </br></br>

                </p>
                </div>

              <div class="col-sm-8">      
                <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="Ateliers">
              </div>
            </div>

                   
          </div>

               <!--EINDE SECTION-->




{% endblock content %}  