{% extends "baseA.html" %}
{% load static %} 

{% block content %} 


<!--SECTION--> <div>
        <div class="container blok1">

        <!--rij-->
        <div class="row">  
            <div class="col-2"> </div>

            <div class="col-4"> 
                <figure>
                    <a href="/Rembrandt.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                    <figcaption>Rembrandtstraat</figcaption>
                </figure>
            </div>

            <div class="col-4"> 
                <figure>
                    <a href="/Looyer.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                    <figcaption>Looyerstraat</figcaption>
                </figure>
            </div>
        </div>

        <!--rij-->
        <div class="row">  
            <div class="col-2"> </div>

            <div class="col-4"> 
                <figure>
                    <a href="/Prinsegracht.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                    <figcaption>Prinsegracht 40</figcaption>
                </figure>
            </div>

            <div class="col-4"> 
                <figure>
                    <a href="/Lepel.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                    <figcaption>Lepelstraat</figcaption>
                </figure>
            </div>
        </div>

        <!--rij-->
        <div class="row">  
            <div class="col-4"> </div>

            <div class="col-4"> 
                <figure>
                    <a href="/Barthkapel.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt=""> </a> <br>
                    <figcaption>Barthkapel</figcaption>
                </figure>
            </div>

            <div class="col-4"> 
            </div>
        </div>

       </div>
</div><!--SECTION-->


{% endblock content %}  