{% extends 'post_base.html' %}   
<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Stichting Behoud Waardevol Erfgoed</title>
        <meta charset = "utf-8">

        {% load static %}
        <!-- Style CSS-->
        <link rel="stylesheet" type="text/css" href="{%static 'css/cssHeader.css' %}">
        <link rel="stylesheet" type="text/css" href="{%static 'css/cssBody.css' %}">
        <link rel="stylesheet" type="text/css" href="{%static 'css/cssStyle.css' %}">

       
        <!-- Bootstrap-CSS -->

        <!-- Beeldscherm: computer & telefoon -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>


    <body>

        <header class="boven">
            <!-- 1e  deel -->
             
                    <h1>Stichting Behoud Waardevol Erfgoed</h1>
                    <h5> Cultureel vastgoed</h5>
                    <h5 class="pagina"></h5>
                    
                    <div>
                        <li class="H"> <a class="H" href="/inhoud.html"> Menu  </a></li> 
                    </div>
        </header>


        <!--SECTION-->

        <div class="container blok1">

            <p class="LetA">Programma Barthkapel</p>

            <div class="row">  

                <div class = "col-2"></div>
                <div class="col-8">   
                   

                        {% block inhoud %}

                        {% for post in posts %}
                        <article class ="post">
                            <time class = "date"> 
                            
                                {{ post.created_date }}


                            </time>

                            <h2> <a href="{% url 'post_inhoud' pk=post.pk %}"> {{ post.title }}</a></h2>
                            <p></p>
                            <!-- <p> {{ post.text|linebreaksbr }}</p> -->
                        </article>
                        {% endfor %}
                    {% endblock %}

                </div>
            </div>
                    
        </div>

        <!--SECTION-->
        
        <footer class="footer">
            <p> @ Copyright 2023 </p>
            <p> Stichting Behoud Waardevol Erfgoed </p>
        </footer>
    
        <!-- Javascript-->
        <script src="{%static 'js/jquery.js' %}"></script>
        <script src="{%static 'js/jquery.min.js' %}"></script>

        <script> 

            $('#buttonBK').on('click', function URL(){
                location.href = "/VerhuurBK.html";

            });

        </script>

    </body>
</html>