{% extends "baseA.html" %}
{% load static %} 

{% block content %} 
         <!--SECTION-->

         <div class="container">

            <!--Begin Row--><div class="row">  
                <div class="col-sm-4">
                    <H2 class ="font"> Prinsegracht</H2>
                    <br> <br> 

                </div>

                <div class="col-sm-8">      
                    <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="Ateliers">
                </div>
            </div> <!--Einde row-->

                   
          </div>

               <!--EINDE SECTION-->


{% endblock content %}  