{% extends "baseA.html" %}
{% load static %} 

{% block content %} 
         <!--SECTION-->

         <div class="container">

            <!--Begin Row--><div class="row">  
                <div class="col-sm-4">
                    <H2 class ="font"> Rembrandtstraat</H2>
                    <br> <br> 

                    <p class ="font">
                    Het pakhuis aan de Looijerstraat is niet het enige pakhuis dat in bezit van de stichting is. Ook in de Rembrandtstraat staat, midden in een straat vol nieuwbouw, nog het pakhuis van de gebroeders Dijkgraaf, handelaren in lompen, oud papier en oude metalen.
                    <br> <br>
                    De stichting heeft dit pakhuis op nr. 2b nog kunnen redden, pogingen hetzelfde te doen met 4b zijn mislukt. Momenteel hebben vijf kunstenaars er een atelier                
                    <br>
                    </p>
                </div>

                <div class="col-sm-8">      
                    <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="Ateliers">
                </div>
            </div> <!--Einde row-->

                   
          </div>

               <!--EINDE SECTION-->


{% endblock content %}  