
<!DOCTYPE html>
<html lang="nl">

    <head>
        <title> Stichting Behoud Waardevol Erfgoed</title>
        <meta charset = "utf-8">

        {% load static %}
        <!-- Style CSS-->
        <link rel="stylesheet" type="text/css" href="{%static 'css/cssHeader.css' %}">
        <link rel="stylesheet" type="text/css" href="{%static 'css/cssBody.css' %}">
        <link rel="stylesheet" type="text/css" href="{%static 'css/cssStyle.css' %}">

       
        <!-- Bootstrap-CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- Beeldscherm: computer & telefoon -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    
    <body>
       
       
<!-- MENU -->

<div class="header">

       <nav class="navbar navbar-default navbar-fixed-top header">
            <div class="container-fluid">
            <div class="navbar-header navbar-light bg-transparent">
                <a class="navbar-brand"> Stichting Behoud Waardevol Erfgoed </a>
            </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/index.html">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/VerhuurBK.html"> Verhuur Barthkapel
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/ReserveringBK.html"> Ruimte reserveren</a></li>
                            <li><a href="#"> Beschikbaarheid </a></li>
                            <li class="active"><a href="/post_list.html"> Programma </a></li>
                        </ul>
                    </li>
                    <li><a href="/Panden.html">Panden</a></li>
                    <li><a href="/Ateliers.html">Ateliers</a></li>
                    <li><a href="#">Historie</a></li>
                    <li><a href="/Contact.html">Contact</a></li>
                </ul>
            
            </div>
        </nav>
</div>

<!-- EINDE MENU -->
        
        <!--SECTION-->

        <div class="container blok1">

        
            <!-- rij 1   -->

            <div class="row">  
              <div class="col-6"> 
                <!--Aanvraagformulier -->    
            
                <h1> Verzoek voor reservering </h1>


                <table width="800">
                    <ul> Voornaam</ul>
                    <ul>  <input type ="text" name="voornaam" placeholder="Voornaam"> </ul>
                    <ul>Achternaam</ul>
                    <ul>     <input type ="text" name="achternaam" placeholder="Achternaam"></ul>
                    <ul>Email adres</ul>
                    <ul><input type ="email" name="uw emailadres" placeholder="Uw emailadres"></ul>
                    <ul>Land</ul>
                    <ul>     <input type ="text" name="land" placeholder="Nederland"></ul>
                    <ul>Uw bericht</ul>
                    <ul> <textarea name="bericht" maxlength="1000"placeholder="Uw bericht"></textarea></ul>

                    <input id="buttonRes" type="submit" value="Verzend"> <br> <br>
                </table>
              </div>
              <div class="col-4">      
              </div>
            </div>
        
                <!-- rij 2  -->

            <div class="row">  
                <div class="col-4"> 
                    <figure>
                        <a href="/AgendaBK.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="Verhuur Barthkapel"> </a> <br>
                        <figcaption>Agenda </figcaption>
                    </figure>
                </div>

                <div class="col-4">   
                    <figure>
                        <a href="/Panden.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="panden"> </a> <br>
                        <figcaption>Panden</figcaption>
                    </figure>
                </div>

                <div class="col-4">   
                    <figure>
                        <a href="/Panden.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="panden"> </a> <br>
                        <figcaption>Panden</figcaption>
                    </figure>
                </div>
            </div>


        </div> 
            


            <!--SECTION-->

            <footer class="footer">
                <p> @ Copyright 2023 </p>
                <p> Stichting Behoud Waardevol Erfgoed </p>
            </footer>
        
            <!-- Javascript-->
            <script src="{%static 'js/jquery.js' %}"></script>
            <script src="{%static 'js/jquery.min.js' %}"></script>
    
            <script> 
    
                $('#buttonAgenda').on('click', function URL(){
                    location.href = "/AgendaBK.html";
    
                });
    
            </script>

</body>
</html>