{% extends "base.html" %}


{% block content %} 

{% load static %} 


<!--SECTION-->

     

        
            <!-- rij 1   -->

            <div class="row">  
                <div class="col-2"> </div>

                <div class="col-6"> 
                <!--Aanvraagformulier -->    
            
                <h1> Verzoek voor reservering </h1>

                <form method ="get" enctype="multipart/form-data" action="mailto:stichtingbwe@gmail.com">
                    <div class="mb-4">          

                        <table width="800">
                            <ul> Voornaam</ul>
                            <ul>  <input type ="text" name="voornaam" placeholder="Voornaam"> </ul>
                            <ul>Achternaam</ul>
                            <ul>     <input type ="text" name="achternaam" placeholder="Achternaam"></ul>
                            <ul>Email adres</ul>
                            <ul><input type ="email" name="uw emailadres" placeholder="Uw emailadres"></ul>
                            <ul>Land</ul>
                            <ul>     <input type ="text" name="land" placeholder="Nederland"></ul>
                            <ul>Uw bericht</ul>
                            <ul> <textarea name="bericht" maxlength="1000"placeholder="Uw bericht"></textarea></ul>
                        

                            <input id="buttonRes" type="submit" value="Verzend"> <br> <br>
                        </table>
                    </div>
                </form>

                </div>
              <div class="col-4">
                <button id="buttonAgenda2">Agenda</button>  
              </div>
            </div>
        
                <!-- rij 2  -->

            <div class="row">  
                <div class="col-4"> 
                    <figure>
                        <a href="/AgendaBK.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="Verhuur Barthkapel"> </a> <br>
                        <figcaption>Agenda </figcaption>
                    </figure>
                </div>

                <div class="col-4">   
                    <figure>
                        <a href="/Panden.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="panden"> </a> <br>
                        <figcaption>Panden</figcaption>
                    </figure>
                </div>

                <div class="col-4">   
                    <figure>
                        <a href="/Panden.html"> <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="panden"> </a> <br>
                        <figcaption>Panden</figcaption>
                    </figure>
                </div>
            </div>


        </div> 
            


            <!--SECTION-->





{% endblock content %}  