<!DOCTYPE html>
<html lang="nl">

<head>
    <title> Stichting Behoud Waardevol Erfgoed</title>
    <meta charset = "utf-8">

    {% load static %}
    <!-- Style CSS-->
    <link rel="stylesheet" type="text/css" href="{%static 'css/cssHeader.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/cssBody.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/cssStyle.css' %}">

    <style>
        .img1{
            width: 40%;
        }

        .foto{
            background-color: yellow;
        }
        .blok1{
            background-color: purple;
            width: 100%;
        }
    </style>

    
    <!-- Bootstrap-CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- Beeldscherm: computer & telefoon -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
   
   
<!-- MENU -->

<div class="header">

   <nav class="navbar navbar-default navbar-fixed-top header">
        <div class="container-fluid">
        <div class="navbar-header navbar-light bg-transparent">
            <a class="navbar-brand"> Stichting Behoud Waardevol Erfgoed </a>
        </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/index.html">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle active" data-toggle="dropdown" href="/VerhuurBK.html"> Verhuur Barthkapel
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/ReserveringBK.html"> Ruimte reserveren</a></li>
                        <li><a href="/Beschikbaarheid.html"> Beschikbaarheid </a></li>
                        <li><a href="/post_list.html"> Programma </a></li>
                    </ul>
                </li>
                <li><a href="/Panden.html">Panden</a></li>
                <li><a href="/Ateliers.html">Ateliers</a></li>
                <li><a href="#">Historie</a></li>
                <li><a href="/Contact.html">Contact</a></li>
            </ul>
        
        </div>
    </nav>

</div>

<!-- EINDE MENU -->

<!--SECTION-->
        <div class="container blok1">

            <div class = "row">
                <p> <strong> Stichting Behoud Waardevol Erfgoed </strong> verhuurt een authentieke kapel in het centrum van de stad. 
                    De Barthkapel is te huur voor: Concerten, optredens, yogalessen, exposities, balletlessen, lezingen, kerkdiensten, workshops, vergaderingen,
                    recepties, boekpresentaties etc.
                    Huurders die op regelmatige basis (bijv. een ochtend in de week) willen huren, zijn ook van harte welkom. 
                    Verstrekte muziek is niet toegestaan. 
                </p>

            </div>


            <div class="row foto" >
                <div class="col-2">
                    <figure>
                        <a href="/ReserveringBK.html"> <img class="img1" src="{%static 'img/BK3.jpg' %}" alt="Reservering"> </a> <br>
                        <figcaption>Reservering</figcaption>
                    </figure>
                </div>
                <div class="col-2">
                    <figure>
                        <a href="/AgendaBK"> <img class="img1" src="{%static 'img/BK1.jpg' %}" alt="Agenda Barthkapel"> </a> <br>
                        <figcaption>Beschikbaarheid</figcaption>
                    </figure>
                </div>
                <div class="col-2">       
                <figure>
                    <a href="/post_list.html"> <img class="img1" src="{%static 'img/BK2.jpg' %}" alt="Ateliers"> </a> <br>
                    <figcaption>Programma Barthkapel</figcaption>
                </figure>
                </div>
            </div>
            

            


            <div class="row">  
                <div class="col-4">
                   <button id="buttonReser">Reservering</button> 
                   <button id="buttonAgenda">Agenda</button> 
                </div>
                <div class="col-8">      
                  <img class="img3st" src="{%static 'img/NotreDame.webp' %}" alt="Ateliers">
                </div>
            </div>
        </div>


            <!--SECTION-->
        
   
        <!-- Javascript-->
        <script src="{%static 'js/jquery.js' %}"></script>
        <script src="{%static 'js/jquery.min.js' %}"></script>


         <script> 

            $('#buttonReser').on('click', function URL(){
                location.href = "/ReserveringBK.html";

            });

            
            $('#buttonAgenda').on('click', function URL(){
                location.href = "/AgendaBK.html";

            });

        </script>

        <!--footer-->
        <footer class="footer">
            <p> @ Copyright 2023 </p>
            <p> Stichting Behoud Waardevol Erfgoed </p>
        </footer>


</body>
</html>