{% extends "baseA.html" %}
{% load static %} 


{% block content %} 

    <!--SECTION--><section> 
        <div class="container">

            <!-- EERSTE RIJ -->
            <div class="row RIJ1">
                <div class="col">
                    <p class="font"> <strong> Stichting Behoud Waardevol Erfgoed </strong> verhuurt een authentieke kapel in het centrum van de stad. 
                        De Barthkapel is te huur voor: Concerten, optredens, yogalessen, exposities, balletlessen, lezingen, kerkdiensten, workshops, vergaderingen,
                        recepties, boekpresentaties etc.
                        Huurders die op regelmatige basis (bijv. een ochtend in de week) willen huren, zijn ook van harte welkom. 
                        Verstrekte muziek is niet toegestaan. <br> <br>   
                    
                    </p>
                </div>
            </div>
    
            <!-- TWEEDE RIJ -->
            <div class="row RIJ2" class="font">
                <table>
                    <tr>
                        <td> 
                            <figure>
                                <img class="img1" src="{%static 'img/BKVerhuur6.jpg' %}" alt=""><br>
                                <figcaption></figcaption>
                            </figure>
                        </td>
                        <td> 
                            <figure>
                                <img class="img1" src="{%static 'img/BKVerhuur6.jpg' %}" alt=""><br>
                                <figcaption></figcaption>
                            </figure>
                        </td>
                        <td> 
                            <figure>
                                <img class="img1" src="{%static 'img/BKVerhuur6.jpg' %}" alt=""><br>
                                <figcaption></figcaption>
                            </figure>
                        </td>
                        <td> 
                            <figure>
                                <img class="img1" src="{%static 'img/BKVerhuur6.jpg' %}" alt=""><br>
                                <figcaption></figcaption>
                            </figure>
                        </td>
                    </tr>
                 
                 
                </table>
            </div>
          
        
    
       
            <!-- DERDE RIJ -->
    
            <div class="row RIJ2" class="font">
                <table>
                    <tr>
                        <td> 
                            <figure>
                                <img class="img1" src="{%static 'img/BKVerhuur6.jpg' %}" alt=""><br>
                                <figcaption></figcaption>
                            </figure>
                        </td>
                        <td> 
                            <figure>
                                <img class="img1" src="{%static 'img/BKVerhuur6.jpg' %}" alt="Reservering"><br>
                                <figcaption></figcaption>
                            </figure>
                        </td>
                        <td> 
                            <figure>
                                <img class="img1" src="{%static 'img/BKVerhuur6.jpg' %}" alt="Reservering"><br>
                                <figcaption></figcaption>
                            </figure>
                        </td>
                        <td> 
                            <figure>
                                <img class="img1" src="{%static 'img/BKVerhuur6.jpg' %}" alt="Reservering"><br>
                                <figcaption></figcaption>
                            </figure>
                        </td>
                    </tr>
                 
                 
                </table>
            </div>
    
    
        <!-- VIERDE RIJ -->
        <div class="row RIJ4" class="font">
            <div class="col">
                        <p> Voor een <a href="/Impressie.html"> <strong> impressie van de akoestiek  </strong> </a> in de kapel (met dank aan violiste Jasmijn Burger): </a> </p>            
            </div>
        </div>
    
    
    
        <!-- VIJFDE RIJ -->
    
            <div class="row RIJ4" class="font">
                <div class="col">
                    <p> <strong> Gegevens kapel: </strong> 
                        <ul>
                            <li> afmeting: +/- 100 m2 </li>
                            <li> aantal stoelen: 80 </li>
                            <li> twee lange tafels en twee statafels </li>
                            <li> ruime keuken met inventaris en koelkast </li>
                        </ul>
                    </p>
                </div>
    
                <div> <strong> Prijzen per 1 september 2023 </strong><br> <br>
                37,50 per uur. 
                <ul>
                    <li>Korting voor studenten van het Koninklijk Conservatorium / KABK</li>
                </ul>
               
                <br> 
                Adres: <br>
                Brouwersgracht 2K Den Haag <br>
                (bereikbaar vanaf de Brouwersgracht via de smalle steeg die naar de kloostertuin en de kapel leidt)
    
                <br> <br> 
    
                <strong> Voor meer informatie en verhuur, mail naar Stichtingbwe@gmail.com </strong> <br>
                <a href=""> <strong> en klik hier voor de annuleringsvoorwaarden </strong></a>
                
    
              
            
                </div>
            </div>
        </div>
    
    </section><!--EINDE SECTION-->




{% endblock content %}  