
/* MEERDERE TABBLADEN */


/* header */



/* ENKELE TABBLADEN */


/* index */

    .Vlak{
        position:absolute;
            top: 200px;
            right: 40px;
        width:40%;
        font-size: 30px;
        font-weight: bold;
    }



 

