
/* MEERDERE TABBLADEN */


/* header */



/* ENKELE TABBLADEN */


/* index */

    .Vlak{
        position:absolute;
            top: 200px;
            right: 40px;
        width:40%;
        font-size: 30px;
        font-weight: bold;
    }



    #buttonBK{
        width:200px;
        border: 3px solid rgb(241, 208, 24);
        color:white;
        background-color: rgb(241, 208, 24);
        margin:80px 0 0 200px;
        rotate: 0deg;
        box-shadow: 5px 10px rgb(161, 161, 9);
          
    }

