

/*    tbv alle pagina's - aangepast 19 december 2023      */

.LetA{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    }




/*    Oud of verplaatsen of verwijderen      */



/*    Algemeen: Bootstrap grid indeling       */

.blok1{
    margin-top: 150px;
}



#navWrap{
    width: 70%;
    height:80%;
    position:absolute;
    top:10%;
    margin:0 auto;
    right:0;
    left:0;}



/* volgens mij niet gebruikt 

#menuH{
    position: relative;
    width:100%;
    height: 20px;
    background-color: hsla(193, 95%, 9%, 0.882);
    color: white;
}

*/

.LiLijst{
    width: 100%;
    position: static;
}


section{
    display: flex; 
    padding: 5px;
    background-color:white;
    /*height:100%; */   
}


.Inhoud1{
    display: block;
    padding: 10px;
    width:30%;
    background-color: hsla(208, 79%, 13%, 0.882);
    
    
}

.Inhoud2{
    display:inline-block;
    width:63%;
    background-color: white;
    
    
}




.imgklein{
    width: 250px;
    height: 120px;
}

/* linkerkant image */
.imgkleinSt{
    width: 300px;
    height: 250px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}


     /*
      position: relative;
    bottom: 200px;
    left: 400px;
    vertical-align: middle;
    float: right;
    display: inline-block
    position: relative;
       top:15px;
    right: 50px;
    
    static = op normale plaats
    absoluut = verplaatsing tov bronelement
    relatief = verplaatsing tov zijn oorspronkelijke plaats
    fixes = gelijk aan absoluut + 1: scrolled niet weg. 2. bronelement is altijd de body
    */

p{
    padding:15px;
}

/* Algemeen middendeel */





.tekstgebied{
    padding: 20px; 

}

/* positie tekst */

.tekstcenter{
    text-align: center;
}

.tekstRe{
    text-align: right;
}


/* breedte vlak */

.middelbreed{
    display: block;
    width: 80%;
    padding: 10px;
    background-color: white;
}

/* positie image */

.right{
    width: 30%;
    height: 50%;
    vertical-align: middle;
    float: right;
    padding: 15px;
}

.left{
    width: 30%;
    height: 50%;
    vertical-align: middle;
    float: left;
    padding: 15px;
}











/*          sheet: home_index,html 
            sheet: VerhuurBK                       */

#buttonBK{
    width:200px;
    border: 3px solid rgb(241, 208, 24);
    color:white;
    background-color: rgb(241, 208, 24);
    margin:300px 0 0 150px;
    rotate: 0deg;
    box-shadow: 5px 10px rgb(161, 161, 9);
}

#buttonReser{
    width:200px;
    border: 3px solid rgb(241, 208, 24);
    color:white;
    background-color: rgb(241, 208, 24);
    margin:300px 0 0 150px;
    rotate: 0deg;
    box-shadow: 5px 10px rgb(161, 161, 9);
}

#buttonAgenda{
    width:200px;
    border: 3px solid rgb(241, 208, 24);
    color:white;
    background-color: rgb(241, 208, 24);
    position: relative;
        top:10px;
        left: 10px;
    rotate: 0deg;
    box-shadow: 5px 10px rgb(161, 161, 9);
}

#buttonRes{
    margin: 0 0 0 100px;
}


/*     sheet: contact       */

/*     sheet: algemeen      (header zie boven)    */


.img3st{
    width: 80%;
} 

figure{
    text-align: center; 
    display: block;
}

 /*            Einde        */
 

