

/*    tbv alle pagina's - aangepast 19 december 2023      */

/*  Geordernd op html pagina */



/* AgendaBK */



#calendar{
    background-color: orange;
} 
    
/* inhoud.html         */


#blauwblok{
    background-color: #00151be1;
    width: 2000px;
    height: 60%;
    transform: rotate(20deg) translateY(-400px);
    opacity:0.8;
    position: fixed;
        top:0px;
        right: 0px;
}


#Onderblok{
    background-color:#00151be1;
    width: 2000px;
    height: 60%;
    transform: rotate(20deg) translateY(600px);
    opacity:0.8;
    position: fixed;
        top:0px;
        right: 0px;
}

.menuV{
    position:absolute;
        top:100px;
        left: 400px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight:700;
    text-shadow: #00151be1;
   
}

a.V{
    /* menu verwijzing */
    color:#00151be1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:30px;
    text-decoration: none;
}

a.V:hover{
    color:rgb(228, 187, 21);
}



/* Contact.html */

.bovencontact{
    position: absolute;
        top: 0px;
        right: 100px;
    color:rgb(247, 199, 3);
    font-size: 16px;
}

.contact{
    margin: 200px 0 0 300px;
    padding:10px
}



a.H2{
    color:white;
    text-decoration:none;
    font-size: 16px;

}
a.H2:hover{
    color:rgb(rgb(9, 7, 0));
    text-decoration:none;

}


/* index.html*/
.imgEnkel{
    width: 50%;
    margin-top:0px;
}

#Vlak{
    border-color: 1px solid;
    width: 20%;
    background-color:yellow;
}

/* post_base.html*/
/* post_list.html*/

.Content_blok{
    background-color: yellow;
    margin: 100px 100px 100px 100px;
    position:absolute;
        top:150px;
        left:100px;
}


/*    Algemeen:        */

/*  Bootstrap grid indeling  */

.blok1{
    margin-top: 150px;
}

/* reserveringBK */
.img3st{
    width: 80%;
}





/*    Oud of verplaatsen of verwijderen      */






#navWrap{
    width: 70%;
    height:80%;
    position:absolute;
    top:10%;
    margin:0 auto;
    right:0;
    left:0;}



/* volgens mij niet gebruikt 

#menuH{
    position: relative;
    width:100%;
    height: 20px;
    background-color: hsla(193, 95%, 9%, 0.882);
    color: white;
}

*/

.LiLijst{
    width: 100%;
    position: static;
}


section{
    display: flex; 
    padding: 5px;
    background-color:white;
    /*height:100%; */   
}


.Inhoud1{
    display: block;
    padding: 10px;
    width:30%;
    background-color: hsla(208, 79%, 13%, 0.882);
    
    
}

.Inhoud2{
    display:inline-block;
    width:63%;
    background-color: white;
    
    
}




.imgklein{
    width: 250px;
    height: 120px;
}

/* linkerkant image */
.imgkleinSt{
    width: 300px;
    height: 250px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}


     /*
      position: relative;
    bottom: 200px;
    left: 400px;
    vertical-align: middle;
    float: right;
    display: inline-block
    position: relative;
       top:15px;
    right: 50px;
    
    static = op normale plaats
    absoluut = verplaatsing tov bronelement
    relatief = verplaatsing tov zijn oorspronkelijke plaats
    fixes = gelijk aan absoluut + 1: scrolled niet weg. 2. bronelement is altijd de body
    */


/* Algemeen middendeel */





.tekstgebied{
    padding: 20px; 

}

/* positie tekst */

.tekstcenter{
    text-align: center;
}

.tekstRe{
    text-align: right;
}


/* breedte vlak */

.middelbreed{
    display: block;
    width: 80%;
    padding: 10px;
    background-color: white;
}

/* positie image */

.right{
    width: 30%;
    height: 50%;
    vertical-align: middle;
    float: right;
    padding: 15px;
}

.left{
    width: 30%;
    height: 50%;
    vertical-align: middle;
    float: left;
    padding: 15px;
}











/*          sheet: home_index,html 
            sheet: VerhuurBK                       */




#buttonRes{
    margin: 0 0 0 100px;
}


/*     sheet: contact       */

/*     sheet: algemeen      (header zie boven)    */




figure{
    text-align: center; 
    display: block;
}

 /*            Einde        */
 

