/* -------------------------------------------LAPTOP: GEKOPPELD AAN BASEWEB1---------------------------------------------------------------------------------------------------  */

/* ------------------------------------------------------------------------------------------------------*/

@media only screen and (min-device-width: 621px) and (max-device-width: 900px){
/*------------------------------------------------------------------------------------------------------  */
body{
    background-color: white;}

header{
    width:100%;
    background-color:blue;
    position: absolute;
        top:0px;
        left:0px;
    text-align: center;
    color: black;
    z-index:999;
    max-height:20%;}

section{  
    width:100%;
    height:100%;
    position: absolute;
        top:2%;
        bottom:2%;
        left:0%;}

footer{
    display:inline-block;
    width:100%;
    background-color: white;
    position: relative;
        bottom:0px;
        left:0px;
    text-align: center;
    color: black;
    z-index:999;}

/* -----------------------------------------------------------ALGEMEEN: MENU ---------------------------------------------  */

/*  ---MENUBOVEN > MENU-MENU-CONTAINER > MENU-MENU (ID) + MENU > DROPDOWN(ID) > MENU-MENU2   ---  */
/* --- MENUBOVEN4 > MENU4-MENU-CONTAINER > MENU4-MENU (ID) + MENU4 > DROPDOWN4(ID) > MENU4-MENU2 ---  */
/* DESKTOP (HIDDEN) */
/* -----------------------------------------------------------ALGEMEEN: MENU ---------------------------------------------  */

/* LAPTOP */
.menuboven {  display:flex;
    position:absolute;
        top:10px;}
.menu1-menu-container{display:flex;}
.menu1-menu-container li ul{ display:none;
    background-color: hsla(197, 91%, 48%, 0.882);
    color: white;
    width:30%; /* breedte van dropdown blok*/
    height: 300%;
    border-radius:7%;
    border: 2px black solid;
    position:absolute; /*werkt*/
        top:100%;
        right:40%;
    transform: translate(0,0%);}
/*dropdown*/
.menu1-menu-container li:hover ul{display: inline-block;}
.menu1-menu-container ul{/* weinig te stijlen - = lijst, */
    width:60%; /* breedte van menu-items */
    background-color:inherit;
    position:absolute; /* plaats tov parent (absolute position): relative & static werken niet (gaat menu naar links) */
        right: 0%;
        top: 5%;
    margin-right:0%;
    padding:0%;}
.menu1-menu-container li{ /* = menu-items */display:inline-block;
    list-style-type: none;
    padding-left:4%;
    padding-right:0%;
    padding-top: 2%;}
.menu1-menu-container a {
    /* = streep onder de link weghalen */
    text-decoration: none;
    color: white;}
.menu1-menu-container a:hover {/* = streep onder de link weghalen */
    color: hwb(38 9% 15%);}


/* MOBIEL */

.menuboven4 {display:flex;
    position:absolute;
        top:10px;}
.menu4-menu-container{display:none;}
.menu4-menu-container li ul{ display:none;
    background-color: hsla(197, 28%, 95%, 0.882);
    color: black;
    width:50%;
    height: 400%;
    border-radius:7%;
    border: 2px black solid;}
/*dropdown*/
.menu4-menu-container li:hover ul{display: inline-block;
    font-size: 22px;
    color: black;}  
.menu4-menu-container ul{/* weinig te stijlen - = lijst, */
    margin-right:3%;
    padding:0%;
    background-color:inherit;
    position:absolute; /* plaats tov parent (absolute position): relative & static werken niet (gaat menu naar links) */
        right: 2%;
        top: 5%;}
.menu4-menu-container li{ /* = menu-items */display:inline-block;
    list-style-type: none;
    padding-left:20px;
    padding-top: 2%;}
.menu4-menu-container a {
    /* = streep onder de link weghalen */
    text-decoration: none;
    color: white;
    padding: 5%;}
.menu4-menu-container a:hover {
    /* = streep onder de link weghalen */
    text-decoration: none;
    color: #d7ad17;}


/* -----------------------------------------------------------ALGEMEEN: LETTERTYPE---------------------------------------------  */
.color{
    color: #f4e049cc;}
.colorw {
    color:white;}
.colorbl{
    color:black;}

.TxtCenter{
    text-align: center;}

[class*="font-"]{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Arial, Helvetica, sans-serif;
    /*font-family:Gill Sans,Arial, sans-serif;*/
    color: hsl(0, 0%, 20%);
    line-height:25px;
    font-size:18px; /* font-9 */}

.font-1{ font-size: 2px;}
.font-2{ font-size: 4px;}
.font-3{ font-size: 6px;}
.font-4{ font-size: 8px;}
.font-5{ font-size: 10px;}
.font-6{ font-size: 12px;}

.font-7{ font-size: 14px;}
.font-8{ font-size: 16px;}
.font-9{font-size: 18px;}
.font-10{ font-size: 20px;}
.font-11{  font-size: 22px;}
.font-12{ font-size: 24px;}
.font-13{ font-size: 26px;}
.font-14{ font-size: 28px;}
.font-15{ font-size: 30px;}
.font-16{ font-size: 32px;}
.font-17{ font-size: 34px;}
.font-18{ font-size: 36px;}
.font-18B{font-size: 36px; font-weight: 900;}
.font-20{ font-size: 38px;}
.font-20B{font-size: 38px; font-weight: 750;}
.font-25{font-size: 50px;}

/*
@media screen and (max-width: 400px) { .font8, .font20 { font-size: 3em; color: black;}
.font20B{font-size: 20px; color: brown;} }
*/
/* ---------------------------------------------------------ALGEMEEN: FORMATEN--------------------------------------------  */
.formaat0{ width: 100%;}
.formaat01 {width:90%;}
.formaat0P{ width: 96%;padding-left:.5%;}
.formaat1, .formaat1M{ width:80%;}
.formaat2{ width:60%;}
.formaat3{ width:40%;}S
.formaat4{ width:20%;}

.opac{opacity: 0.5;}

.formaatH0{height: 400px;}

.Hoog1{max-height: 300px;}
.Hoog2{height: 600px;}


/* -----------------------------------ALGEMEEN: BREEDTE (Fluid grid - 12 kolommen)-----------------------------------------  */

.row{
    width:100%;
    display:inline-block;}

[class*="col-"]{
    float: left;
    padding:0%;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-3T {width: 25%;}
.col-4 {width: 33.33%;}
.col-4T {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}  /* ---T voor tekst & "" voor foto's ivm Mobile versie----- */
.col-8T {width: 66.66%;} 
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}        


/* -----------------------------------------ALGEMEEN: AFBEELDINGEN------------------------------------------------------------- */
img .img1{ /* groot, home */
    border-color: black ;
    border-radius: 10px;
    width: 100%;
    height: auto;
    opacity: 1;}

.img3 {/* panden */ 
    width:100%;
    max-height:400px;
    margin-left: 10%;
    padding:5%;}

.img4 {/* ReserveringBK */
    border: solid 3px black;
    border-radius: 6px;
    margin-left: 1%;
    padding:0%;}

img .img4{
    width:100%;}

figcaption{
    text-align: center;}
/* circle vorm: clip-path: circle(50%); */

/* ---------------------------------------------------BASEWEB1------------------------------------------------
*/
 /* wordt niet meer gebruikt, misschien nog voor een logo met button ??? */ 
 .btnSBWE {
    position:absolute;
        top:5%;
        left:2%;
    background-color:hwb(193 18% 20% / 0.882);
    opacity: 0.6;
    color:white;
    z-index: 999;
    height: 10%;
    width:10%; 
    border-radius:56px;}

.logo img{
    clip-path: circle(50%); 
    width: 100px;
    position: absolute;
        top:4%;
        left: 5%;}

.PLinks{
    background-color:hsla(193, 58%, 18%, 0.882);}

.Ptitel{
    color: white;
    position:absolute;
        top:25%;
        right: 20%;}

.hoog4{
    height:20%;}
        
.tabel-base{ /* foot block */ 
    position:relative;
        bottom:2%;
    border-radius:2%;}

.tabel-base TABLE {
    margin: 0%; border-collapse: separate;  border-spacing: 20px 10px; padding:1px; }

.tabel-base TD {
    border:0px solid black; text-align: center; width: 10%;}

.lijntje{
    display:none;}

.verbergenLaptop {display:none;}
.OpmaakLaptop{
    margin-top:2%;
    margin-bottom:2%;}

/* ----------------------------------------------------PAGINA: HOME / INDEX-------------------------------------------------------------------- */
.img-container-home{
    position: relative;
    width:100%;}

.img-container-home img{
    width: 100%;
    max-height: 80%;
    position: relative;
        top:0%;
        left:0%;
    transform: translate(0%, -10%);
    opacity: 1;
    z-index:1;} 

.img-txt-home{
    background-color: inherit;
    position: absolute;
        top: 0%;
        right: 4%;
    transform: translate(-5%, 25%);
    height: 300px;
    width: 30%;
    z-index:300;}

.img-txt-home p{
    color: black;
    font-family: 'Gill Sans';
    font-size:24px;
    line-height: 1.4;} 

#buttonBK{
    position:absolute;
        right: 0%;
        top:0%;
    transform: translate(-100%, 400%);
    background-color:hsla(193, 92%, 15%, 0.882);
    color:white;
    height: 20%;
    border:solid 2px hsla(193, 92%, 15%, 0.882);
    border-radius:2%;
    z-index:300;}

.mob-home{
    display: none;}

/* ---------------------------------------------------PAGINA: OVER SBWE---------------------------------------------------------------------------------  */
.Vlak1_3{
    padding: 5%;
    margin: 5%;}


/* ----------------------------------------------------------PAGINA: CONTACT--------------------------------------------------------------------------------  */
.img-container-contact{
    width: 100%;
    position: relative;
        top: 0%;
        left:0%;}

.img-container-contact img{
    width: 100%;
    transform: translate(0%, -10%);}

.img-txt-contact{
    position: absolute;
        top: 5%;
        right: 30%;
    transform: translate(-20%, -5%);
    z-index:1;
    color: white;}

.contact a{
    text-decoration:none;}

.tabel-contact{
    background-color: inherit; border-radius:2%;}

.tabel-contact TABLE {
    margin: 0%; border-collapse: separate;  border-spacing: 20px 10px; padding:1px;}

.tabel-contact TD {
    border:0px solid black; text-align: center; width: 10%;}

#buttonGalerie{
    width: 60%;
    height:10%;
    background-color:olive;
    position:absolute;
        top:140%;
        right: -10%;}

/* ZIE PAGINA HOME: IMG-TXT-HOME & IMG-CONTAINER & IMG-container-img & FormRes --  */



/* ---------------------------------------------------------PAGINA: VERHUURBK ---------------------------------------------------- */
.container-bkverhuur{
    position:absolute;}

.img-container-bkverhuur{
    width:105%;
    position: relative;
        top:0%;
    transform: translate(-5%,-12%);}

.afbBK{ 
    background-color: inherit;
    width:100%;
    margin-left:0%;
    margin-top:0%;
    position: relative;
        top:0%;}

#OverBK{
    display: inline-block;
    width: 24%;
    height: 200px;}

.img-txt-bkverhuur{
    text-align: center;
    color:white;
    position: absolute;
        top: 45%;
        right: 7%;
    transform: translate(0%, 0%);
    z-index:1;
    width: 35%;}   

/* ZIE PAGINA RESERVERING: IMG-CONTAINER IMG-CONTAINER IMG

/* ------------------------------------------------------PAGINA: RESERVERINGBK---------------------------------------------------- */
.img-container-bkres {
    position: relative;
        top:0%;
    transform: translate(-5%,-10%);}

.img-container-bkres img, .img-container-bkve img{
    width:110%;}

.img-txt-bkres{
    text-align: center;
    color:white;
    position: absolute;
        top: 17%;
        right: 15%;
    transform: translate(0%, 0%);
    z-index:1;
    width: 35%;}   
/* ------------*/ 
#buttonRes{
    background-color: hsl(48, 75%, 94%); 
    border: solid 2px grey;
    width:10%;
    height:6%;
    border-radius:7%;
    position:absolute;
        right:20%;}

/* ------------*/
figcaption{
    text-align: center;}

/* ------------*/
.FormRes{
    background-color: #92c0ec;
    width:100%;
    position:relative;
        top:0%;
    transform:translate(0, -15%);}


.ContainerData1{
    margin-top:5%;
    position: relative;
        top:4%;
        left:0;}

.ContainerData2{
    margin-top:1%;
    position: relative;
        top:4%;
        left:10%;}

.ContainerData2 TABLE { border-collapse: separate;  border-spacing: 40px 15px; }

.ContainerData2 TD {text-align: left; width: 20%;}

textarea {
    width: 90%;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 8px;
    background-color: hsl(48, 75%, 94%); 
    font-size: 16px;
    resize: none;  
    margin-top:2%;
    margin-bottom:3%;}  

/* datepicker en timepicker widget */

.timepicker, .datepicker, .invulA {
    padding:6%;
    z-index: 20;  
    background-color:hsl(47, 100%, 97%);
    position:relative;
        left:0%;
    transform:translate(0%, 0);
    border: solid 1px gray;
    border-radius: 8px;}    

#ui-datepicker-div { display: flex; 
    justify-content: center; 
    align-items: center;
    z-index: 30; 
    width: 20%; 
    height: 30%;
    text-align: center; 
    background:rgb(74, 96, 235);
    transform: translate(-3%,10%);}

.ui-datepicker-buttonpane{
    text-align: center;
    padding: 10px;
    background-color: purple;}

.ui-datepicker-header{
    background-color:yellow;    }



/* ----------------------------------------------------------PAGINA: PANDEN---------------------------------------------------------------------------------  */


.img-container-pd{
    width: 100%;
    position: relative;
        top: 0%;
        left:0%;}

.img-container-pd img{
    width: 100%;
    transform: translate(0%, -10%);}

/*----------------*/

.img-txt-pdpakh{
    position: absolute;
        top: 22%;
        right: 31%;
    transform: translate(0%, 10%);
    z-index:1;
    color: white;}

/*----------------*/
.img-container-pdbart{
    width: 100%;
    position: relative;
        top:0%;
        left:0%;
    transform: translate(0%,0%);}

.img-txt-pdbart{
    position: absolute;
        top: 30%;
        right: 35%;
    transform: translate(-30%, 10%);
    z-index:1;
    color: white;}

.opmaak-pdbart a{  
    text-decoration: none;}

/*----------------*/
.img-container-pdtuin{
    width: 100%;
    position: relative;
        top:0%;
        left:0%;
    transform: translate(0%,0%);}

/*-------lepel---------*/

.img-container-lepel{
    width: 100%;
    position: relative;
        top: 0%;
        left:0%;}

.img-container-lepel img{
    width: 100%;
    transform: translate(0%, -5%);}

.overflow{
    overflow: hidden;}

/*----------------------------------------------------------------------------------------------------------------------*/

/* ---a gelijk zie pagina over SBWE ---------*/ 


/* ----------------------------------------------------------PAGINA: FULLCALENDAR (RESERVERINGBK-----------------------------------------------------  */

#calendar{ /*werkt!*/ 
    height:500;
    max-width:800px;
    margin:0 auto;
    background-color: whitesmoke;}
.fc-toolbar{
    background-color:hwb(240 49% 22% / 0.569);} /*werkt!*/ 

.fc .fc-col-header-cell {
    width: calc(100% / 7);
    text-align: center;
}
.fc .fc-day-header {
    display: inline-block;
    width: 100%;}

.fc-event{
    height: 50%;}

.fc-event-bezet{background-color:rgba(255, 0, 0, 0.361);}
.fc-event-beschikbaar{background-color:hwb(240 49% 22% / 0.569); border-color:hwb(240 49% 22% / 0.569);}

.fc-event-title{
    display: inline;}



/* ----------------------------------------------------------PAGINA:POST LIST (BKAGENDA)--------------------------------------------------------------------  */

.img-container-posts{
    width: 110%;
    position: relative;
        top:0%;
        left:0%;}

.img-container-posts img{
    width: 110%;
    transform: translate(-5%, -5%);}


.img-txt-posts{
    position: absolute;
        top: 5%;
        right: 10%;
    transform: translate(-20%, -5%);
    z-index:1;
    color: white;}

/*--- */
.post{
    border-radius: 3%;
    background-color: hsl(60, 81%, 92%);
    width: 100%;
    margin-top:5%;
    border: solid 2px #093d4be1;
    text-decoration: none;
    text-align: center;}

a{text-decoration: none;}

.postInh{
    border-radius: 3%;
    background-color: hsl(195, 43%, 51%);
    width: 70%;
    margin-left:25%;    
    margin-top:5%;
    border: solid 2px #00151be1;}

#posttitel1, #posttitel2{
    color:#00151be1;
    text-align: center;
    font-size: 20px;
}

#posttext2{
    color:#00151be1;
    text-align: center;
    font-size: 20px;}
        
.date{
    font-size:20px;
    color: rgb(241, 15, 15);}

/* -------------------------------------------------------PAGINA: FOTO GALERIJ---------------------------------------------------------------------------------  */

.fotogalerij1 {text-align: center;}
.fotogalerij1 img {border: 0px solid #00151be1;; border-radius:1%; width:50%;}
.fotogalerij2 {margin-top:1%; margin-left: 5%; background-color: inherit;}
/*
.fotogalerij2 img {border: 0px solid #00151be1; border-radius:1%; width: 100px; height: 100px;}
*/
.fotogalerij2 img {border: 0px solid #00151be1; border-radius:1%; width: 95%; height: 95%; max-height: 250px;}

.foto-popup:target { display: block; position: fixed; z-index: 999; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.8); text-align: center; }
.foto-popup img { max-width: 90%; position: relative; top: 50%; transform: translateY(-50%); }

.vorige, .volgende { position: fixed; top: 50%; transform: translateY(-50%); text-decoration: none; color:#c7a11b; font-size: 5em; }
.vorige:hover, .volgende:hover { color: white; }
.vorige { left: 20px; }
.volgende { right: 20px; }
@media screen and (max-width: 400px) { .vorige, .volgende { font-size: 3em; } }

div.popup { display: none;}
    
div.popup:target {display: flex; 
    justify-content: center; 
    align-items: center;
    position: fixed; 
        top: 0; 
        left: 0; 
    z-index: 999; 
    width: 100%; 
    max-width: 100%;
    height: 100%; 
    text-align: center; 
    background:hwb(192 0% 87%);}

div.popup a.sluiten {
position: absolute;
top: 0;
left: 50%;
font-size: 3em;
z-index: 20;
color: #c7a11b;
text-decoration: none;}

div.popup a.sluiten:hover {
color: white;}

div.popup img { 
max-width: 90%;
max-height: 90%;}       

/* -------------------------------------------------------------------------------------------------------  */
}
/* -------------------------------------------------------------------------------------------------------  */